body{
    background-color:#B3E2BF;
    color:green;
}
nav ul{ display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    z-index:10;
}
nav li{
    list-style: none;
    background-color: #C4F5DA;
    color: #429E5B;
    margin: 0;
    flex: 1;
    min-width: 200px;
    text-align: center;
    display: flex;
    position: relative;
}
nav a, nav a:visited{
    text-decoration: none;
    width: 100%;
    padding: 8px 0px;
    color: #429E5B;
}
nav a:hover, nav a.active {
    color: #B3E2BF;
    background-color: #429E5B;
}
.dropdown-content
{
    position: absolute;
    top:37px;
    width: 100%;
    display: none;
    z-index:20;
}
nav li:hover .dropdown-content{
    display: block;
}
.dropdown-content a{
    font-weight: bold;
}
.dropdown-content ul {
    flex-direction: column;
}